.hero-heading {
	position: relative;
	padding: 40px $page-padding;
	background: linear-gradient(113.65deg, $primary 3.96%, $accent 64.43%);

	display: grid;
	place-items: center;

	&__title-wrapper {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__welcome-text {
		@media (max-width: $mobile-max-width) {
			display: none;
		}
	}

	&__title {
		font-size: #{"clamp(1.5rem, 3vw + 1rem, 2.7rem)"};
		font-family: $accent-font;
		letter-spacing: 1px;
	}

	&__version-tag {
		align-self: flex-start;
		padding: 2px 12px;
		font-size: 0.9rem;
		color: $accent;
		border-radius: 9px;
		background: black;
	}

	&__subtitle {
		display: flex;
		align-items: end;
		gap: 20px;
	}

	&__subtitle-item {
		text-align: center;

		display: flex;
		gap: 20px;

		&:not(:first-child)::before {
			content: "✦";
			font-size: 1em;
		}
	}

	&__show-favs-button {
		position: fixed;
		right: $page-padding;
		padding: 6px 16px;
		background: $light;
		font-size: 0.9rem;
		border-radius: 8px;
		cursor: pointer;
		z-index: 2;

		@media (max-width: $mobile-max-width) {
			bottom: 50px;
		}

		-webkit-box-shadow: 0px 0px 20px 13px $primary;
		-moz-box-shadow: 0px 0px 20px 13px $primary;
		box-shadow: 0px 0px 20px 13px $primary;
	}
}
