.item-card {
	position: relative;
	min-height: 300px;
	background: $primary;

	display: flex;
	justify-content: flex-end;

	&__image {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 0;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: left;
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(to right, transparent, $primary);
		}
	}

	&__info {
		padding: $page-padding;
		z-index: 1;
		text-align: end;

		@media (min-width: $desktop-min-width) {
			max-width: 50%;
		}

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 10px;
	}

	&__title {
		font-size: #{"clamp(1.5rem, 2vw + 1rem, 2.25rem)"};
	}

	&__formats {
		display: flex;
		justify-content: flex-end;
		gap: 10px;
	}

	&__format {
		display: flex;
		gap: 10px;

		&:not(:first-child)::before {
			content: "•";
			font-size: 1em;
		}
	}
}
