.search-header {
	max-width: 500px;
	margin: 30px auto;

	display: flex;
	justify-content: center;
	gap: 15px;

	@media (max-width: $mobile-max-width) {
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px 2%;

		.search-header__select,
		.search-header__search-input {
			flex-basis: 49%;
		}
	}

	&__search-button {
		margin-left: 20px;
		padding: 10px;
		border: 1px solid $primary;
		border-radius: 50%;

		@media (max-width: $mobile-max-width) {
			margin-inline: auto;
		}

		@include transition;

		&:hover {
			box-shadow: 0px 0px 10px 8px $primary;
		}
	}
}

.search-results {
	&__inline-result {
		padding: 30px 10px;
		border-bottom: 1px solid black;

		display: grid;
		grid-template-columns: 50px auto 70px repeat(2, minmax(100px, 10%));
		align-items: center;
		gap: 15px;

		@media (max-width: $mobile-max-width) {
			grid-template-columns: 50px repeat(2, minmax(0, 1fr));
		}

		@include transition;

		&:hover {
			background-color: $accent-1;
		}

		&.active {
			margin-top: 10px;
			background-color: $accent-1;
			border-bottom-color: transparent;
			border-radius: 20px 20px 0 0;
		}
	}

	&__title {
		font-weight: 600;
	}

	&__add-favs-button,
	&__toggle-info-button {
		padding: 10px;
		border: black 1px solid;
		border-radius: 18px;

		@include transition;

		&:hover {
			background-color: $primary;
			border-color: $primary;
		}

		&.disabled {
			pointer-events: none;
			background-color: black;
			color: white;
		}
	}

	&__add-favs-button {
		@media (max-width: $mobile-max-width) {
			grid-column: 2;
		}
	}
	&__toggle-info-button {
		@media (max-width: $mobile-max-width) {
			grid-column: 3;
		}
	}

	&__thumb {
		border-radius: 5px;
		width: 50px;
		height: 50px;
		object-fit: cover;
		object-position: top;
		background-color: $primary;
		font-size: 20px;
		font-weight: 900;
		display: grid;
		place-items: center;
	}

	&__type {
		font-size: 0.8rem;
		@media (max-width: $mobile-max-width) {
			text-align: end;
		}
	}
}

.pagination {
	padding: 20px $page-padding;
	display: flex;
	justify-content: center;
	gap: 10px;

	&__button {
		cursor: pointer;
	}
}
