.search-header {
	max-width: 500px;
	margin: 30px auto;

	display: flex;
	justify-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2%;

	.search-header__select,
	.search-header__search-input {
		flex-basis: 49%;
	}

	&__search-button {
		margin-left: 20px;
		padding: 10px;
		border: 1px solid $primary;
		border-radius: 50%;

		@media (max-width: $mobile-max-width) {
			margin-inline: auto;
		}

		@include transition;

		&:hover {
			box-shadow: 0px 0px 10px 8px $primary;
		}
	}
}
